body {
    overflow-y: scroll;
}
.table.borderless>tbody>tr>td {
    padding-top: 1em;
}
.table.borderless>tbody>tr, .table.borderless>tbody>tr>td {
    border: none;
    border-bottom: 1px solid #ddd;
}
.table.borderless>tbody>tr:last-child, .table.borderless>tbody>tr:last-child>td {
    border: none;
}
.contact td:first-child {
    padding-right: 1em;
    text-align: right;
}
.site .navbar-default {
    background-color: white;
}
.site p {
    margin-top: 10px;
}
.commit p {
    text-align: left;
}
.site .media:first-child {
    margin-top: 15px;
}
.site .carousel-control.right, .site .carousel-control.left {
    background: none;
    background-image: none;
    opacity: 1.0;
    text-shadow: none;
}
.site .carousel-indicators {
    bottom: -40px;
}
.carousel-inner a {
    color: white;
}
.site .carousel-indicators li {
    border-radius: 3px;
}
.site .carousel-inner .item {
    width: 80%;
    margin-left: 10%;
}
.link-muted {
    color: #999 !important;
}
#torque-logo {
    width: 140px;
}
@media (max-width: 768px) {
    .jumbotron.banner .row, .jumbotron.banner .row p {
        text-align: center;
    }
}
.jumbotron {
    border-radius: 0 !important;
}
span.post-title {
    font-weight: bold;
}
span.date {
    color: gray;
    margin-right: 1em;
}
a.media-subheading, a.media-subheading:hover {
    color: #666;
    font-style: italic;
    font-size: 90%;
}
.dropdown-toggle i {
    margin-left: 0.3em;
}
.site {
    margin: 0 auto 2em;
    line-height: 1.5em;
}
.site .banner {
    background: #990000;
    color: white;
}
.break {
    height: 144px;
    width: 760px;
    left: 50%;
    margin-left: -380px;
    text-align: center;
    margin-top: 2em;
}
.break img {
    border-radius: 3px;
}
.site .banner .col-sm-4 {
    text-align: center;
}
.site .carousel-control i {
    position: absolute;
    top: 50%;
}
.footer {
    font-size: 80%;
    color: #666;
    margin-top: 2em;
    overflow: hidden;
}
.footer .rss img {
    border: 0;
}
.site ol ol {
    list-style-type: lower-alpha;
}
pre.inline {
    display: inline;
    padding: 3px;
    margin: 0 5px;
}
.commit {
    margin-bottom: 10px;
}
.commit p {
    margin: 0;
}
.fa-external-link {
    font-size: 75%;
}
.page h3 {
    color: #555;
}
.page .banner {
    margin-top: 1em;
}
.banner h2 {
    /* Fixes scrolling to anchors with the fixed navbar. */
    margin-top: -60px;
    padding-top: 70px;
    display: inline-block;
}
h4 a, h4 a:hover {
    color: rgb(51, 51, 51);
}
h3 a {
    color: #222222;
    text-decoration: none;
}
img.feature, img.made-with-torque {
    width: 128px;
    border-radius: 3px;
}
@media (max-width: 360px) {
    img.feature, img.made-with-torque {
        width: 96px;
    }
}
img.history {
    margin: 1em;
}
table.history>tbody>tr>td:first-child {
    font-weight: bold;
    width: 4em;
    display: inline-block;
}
table.download>tbody>tr>td:first-child {
    min-width: 10em;
    font-weight: bold;
}
table.versioning>tbody>tr>td:first-child {
    min-width: 8em;
}
.navbar-brand img {
    background-color: #990000;
    padding: 2px;
    margin: -2px;
}
.meta {
    margin-top: 10px;
}
.btn-default {
    background-color: #dbdbdb;
}
.btn-default:hover {
    color: #4b4b4b; 
}
#darkmode-toggle {
    color: #222222;
    display: block;
    cursor: pointer;
}
.editor-toolbar.fullscreen, .CodeMirror-fullscreen {
    z-index: 10009; /* Fix it from hiding behind navbar*/
}
badge-t3d {
    color: #ffffff;
    background-color: #fc5788;
}
badge-t2d {
    color: #ffffff;
    background-color: #57aafc;
}
badge-tge {
    color: #ffffff;
    background-color: #99fc57;
}


/* Code */
.highlight {
    background-color: #f2f1f7;
    padding: 4px;
    border-radius: 4px;
}
code {
    color: #353636;
    line-height: 1em;
}
code .n { /* variables, globalvariables, bomberShapeData */
    color: #eb613a;
}
code .nf { /* echo staticShapeData*/
    color: #fe79a8;
}
code .m { /* numbers */
    color: #5f4bff;
}
code .p { /* ( ) { } = ; %*/
    color: #15156f;
}
code .s { /* strings */
    color: #26a77e;
}
code .c1 { /* comment */
    color: #a19ba5;
}
code .err { /* $ */
    color: #f2a648;
}


/*-----------------------------------------------------------------------------
 * Darkmode
 */

html.dark-mode #darkmode-toggle {
    color: #d6d6d6;
}
html.dark-mode input[type=text], html.dark-mode textarea {
    border-color: rgba(0, 0, 0, 0.8);
    background-color: #2b2b2b;
    color: #d6d6d6;
}
html.dark-mode body {
    background-color: #222222;
    color: #d6d6d6;
}
html.dark-mode nav {
    background-color: #2d2d2d !important;
}
html.dark-mode .card {
    border-color: rgba(0, 0, 0, 0.8);
}
html.dark-mode .card-body {
    background-color: #282828;
}
html.dark-mode .card-footer {
    background-color: #1d1d1d;
}
html.dark-mode .badge-inf {
    background-color: #1d1d1d;
    color: #d6d6d6;
}
html.dark-mode .nav-tabs .nav-link.active {
    color: #d6d6d6;
    background-color: #1d1d1d;
}

html.dark-mode #darkmode-modal .modal-content {
    background-color: #1d1d1d;
}

html.dark-mode #darkmode-modal button.close {
    color: #d6d6d6;
}

html.dark-mode .btn-default {
    color: #96999b;
    background-color: #313030;
}
html.dark-mode .btn-default:hover {
    color: #b5babd; 
}
html.dark-mode .jumbotron {
    background-color: #2b2b2b;
}
html.dark-mode .navbar {
    background-color: #343a40 !important;
}
html.dark-mode .navbar-brand {
    color: #ffffff
}
html.dark-mode .navbar-brand img {
    background-color: unset;
}
html.dark-mode .nav-link {
    color: #ffffff !important;
}
html.dark-mode .dropdown-menu {
    background-color: #222222;
    color: #ffffff !important;
    box-shadow: 1px 2px 2px #343a40, -1px 2px 2px #343a40;
    
}
html.dark-mode .dropdown-item {
    color: #ffffff !important;
}
html.dark-mode .dropdown-item:hover, 
html.dark-mode .dropdown-item:select, 
html.dark-mode .dropdown-item:active {
    color: #ffffff !important;
    background-color: #343a40 !important;
}
html.dark-mode h3 a {
    color: #ffffff;
}
html.dark-mode h4 a, html.dark-mode h4 a:hover {
    color: #ffffff;
    text-decoration: none;
}
html.dark-mode .card {
    background-color: #333333;
    border-color: #444444;
}
html.dark-mode .text-dark {
    color: #ffffff !important;
}
html.dark-mode .img-thumbnail {
    background-color: #3f3f3f;
    border-color: #525252;
}
html.dark-mode .badge-dark {
    color: #212529 !important;
    background-color: #f8f9fa !important;
}
html.dark-mode .CodeMirror, html.dark-mode .editor-preview-side {
    background-color: #222222;
    color: #ffffff;
}
html.dark-mode .editor-toolbar a {
    color: #c9cdd2!important;
}
html.dark-mode .editor-toolbar a.active, html.dark-mode  .editor-toolbar a:hover {
    background: #3f3f3f;
}
html.dark-mode badge-t3d {
    color: #ffffff;
    background-color: #fc5788;
}
html.dark-mode badge-t2d {
    color: #ffffff;
    background-color: #57aafc;
}
html.dark-mode badge-tge {
    color: #ffffff;
    background-color: #99fc57;
}

/* Darkmode Code */
html.dark-mode .highlight {
    background-color: #2d2d2d;
    padding: 3px;
    border-radius: 2px;
}
html.dark-mode code {
    color: #ccdcdc;
}
html.dark-mode code .n { /* variables, globalvariables, bomberShapeData */
    color: #f2777a;
}
html.dark-mode code .nf { /* echo staticShapeData*/
    color: #e1a6f2;
}
html.dark-mode code .m { /* numbers */
    color: #fca369;
}
html.dark-mode code .p { /* ( ) { } = ; %*/
    color: #b3b9c5;
}
html.dark-mode code .s { /* strings */
    color: #92d192;
}
html.dark-mode code .c1 { /* comment */
    color: #77787c;
}
html.dark-mode code .err { /* $ */
    color: #ffeea6;
}