--- 
--- 

{% assign primary = "#dc3545" %}
{% assign secondary = "#e25563" %}
{% assign light = "#ffffff" %} /* NavBG */
{% assign light2 = "#f8f9fa" %} /* Shade Darker - MainBG */
{% assign dark = "#343a40" %} /* NavBG */
{% assign dark2 = "#212529" %} /* Shade Darker - MainBG */
{% assign t3d = "#fc5788" %} /* Pink / should be red? */
{% assign t2d = "#57aafc" %} /* Blue / should be? */
{% assign tge = "#9d4bcd" %} /* Purple / should be? */

/*
    color: #ffffff;
    color: #f8f9fa;
    color: #343a40;
    color: #212529;
    */


body {
    overflow-y: scroll;
    background-color: {{ light2 }} !important;
}
.lightlogo { display: none; }
.darklogo { display: block; }
.table.borderless>tbody>tr>td {
    padding-top: 1em;
}
.table.borderless>tbody>tr, .table.borderless>tbody>tr>td {
    border: none;
    border-bottom: 1px solid {{ light }};
}
.table.borderless>tbody>tr:last-child, .table.borderless>tbody>tr:last-child>td {
    border: none;
}
.contact td:first-child {
    padding-right: 1em;
    text-align: right;
}
.navbar {
    background-color: {{ light }} !important;
}
.site p {
    margin-top: 10px;
}
.commit p {
    text-align: left;
}
.site .media:first-child {
    margin-top: 15px;
}
.site .carousel-control.right, .site .carousel-control.left {
    background: none;
    background-image: none;
    opacity: 1.0;
    text-shadow: none;
}
.site .carousel-indicators {
    bottom: -40px;
}
.carousel-inner a {
    color: {{ light }};
}
.site .carousel-indicators li {
    border-radius: 3px;
}
.site .carousel-inner .item {
    width: 80%;
    margin-left: 10%;
}
#torque-logo {
    width: 140px;
}
@media (max-width: 768px) {
    .jumbotron.banner .row, .jumbotron.banner .row p {
        text-align: center;
    }
}
.jumbotron {
    border-radius: 0 !important;
}
span.post-title {
    font-weight: bold;
}
span.date {
    color: gray;
    margin-right: 1em;
}
a.media-subheading, a.media-subheading:hover {
    color: {{ dark2 }};
    font-style: italic;
    font-size: 90%;
}
.dropdown-toggle i {
    margin-left: 0.3em;
}
.site {
    margin: 0 auto 2em;
    line-height: 1.5em;
}
.site .banner {
    background: {{ primary }};
    color: {{ light }};
}
.break {
    height: 144px;
    width: 760px;
    left: 50%;
    margin-left: -380px;
    text-align: center;
    margin-top: 2em;
}
.break img {
    border-radius: 3px;
}
.site .banner .col-sm-4 {
    text-align: center;
}
.site .carousel-control i {
    position: absolute;
    top: 50%;
}
.footer {
    font-size: 80%;
    color: {{ dark }};
    margin-top: 2em;
    overflow: hidden;
}
.footer .rss img {
    border: 0;
}
.site ol ol {
    list-style-type: lower-alpha;
}
pre.inline {
    display: inline;
    padding: 3px;
    margin: 0 5px;
}
.commit {
    margin-bottom: 10px;
}
.commit p {
    margin: 0;
}
.fa-external-link {
    font-size: 75%;
}
.page h3 {
    color: {{ dark2 }};
}
.page .banner {
    margin-top: 1em;
}
.banner h2 {
    /* Fixes scrolling to anchors with the fixed navbar. */
    margin-top: -60px;
    padding-top: 70px;
    display: inline-block;
}
h4 a, h4 a:hover {
    text-decoration: underline;
    color: {{ dark }};
}
h3 a {
    color: {{ dark2 }};
    text-decoration: none;
}
img.feature, img.made-with-torque {
    width: 128px;
    border-radius: 3px;
}
@media (max-width: 360px) {
    img.feature, img.made-with-torque {
        width: 96px;
    }
}
img.history {
    margin: 1em;
}
table.history>tbody>tr>td:first-child {
    font-weight: bold;
    width: 4em;
    display: inline-block;
}
table.download>tbody>tr>td:first-child {
    min-width: 10em;
    font-weight: bold;
}
table.versioning>tbody>tr>td:first-child {
    min-width: 8em;
}
/*.navbar-brand img {
    background-color: {{ primary }};
    padding: 2px;
    margin: -2px;
}*/
.meta {
    margin-top: 10px;
}
.btn-default {
    background-color: {{ light }};
}
.btn-default:hover {
    color: {{ secondary }}; 
}
#darkmode-toggle {
    color: {{ dark }};
    display: block;
    cursor: pointer;
}
.editor-toolbar.fullscreen, .CodeMirror-fullscreen {
    z-index: 10009; /* Fix it from hiding behind navbar*/
}
.badge-t3d {
    color: {{ light }} !important;
    background-color: {{ t3d }} !important;
}
.badge-t2d {
    color: {{ light }} !important;
    background-color: {{ t2d }} !important;
}
.badge-tge {
    color: {{ light }} !important;
    background-color: {{ tge }} !important;
}
table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
}
tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}
th, td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6; /* Check this, it doesn't seem right */
}


/* Code */
.highlight {
    background-color: #f2f1f7;
    padding: 4px;
    border-radius: 4px;
}
code {
    color: #353636;
    -webkit-appearance: textarea;
    line-height: 1.1;
}
code .n { color: #eb613a; } /* variables, globalvariables, bomberShapeData */
code .nf { color: #fe79a8; } /* echo staticShapeData*/
code .m { color: #5f4bff; } /* numbers */
code .p { color: #15156f; } /* ( ) { } = ; %*/
code .s { color: #26a77e; } /* strings */
code .c1 { color: #a19ba5; } /* comment */
code .err { color: #f2a648; } /* $ */


/*-----------------------------------------------------------------------------
 * Darkmode
 */

html.dark-mode #darkmode-toggle {
    color: {{ light }};
}
html.dark-mode .lightlogo { display: block; }
html.dark-mode .darklogo { display: none; }
html.dark-mode input[type=text], html.dark-mode textarea {
    border-color: rgba(0, 0, 0, 0.8);
    background-color: #2b2b2b;
    color: #d6d6d6;
}
html.dark-mode body {
    background-color: {{ dark2 }} !important;
    color: {{ light }};
}
html.dark-mode nav {
    background-color: {{ dark }} !important;
}
html.dark-mode .navbar-toggler {
    border-color: {{ light }};
}
html.dark-mode .navbar-toggler-icon {
    background-image: url(data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e) !important;
}
html.dark-mode .card {
    border-color: {{ dark }};
}
html.dark-mode .card-body {
    background-color: #282828;
}
html.dark-mode .card-footer {
    background-color: #1d1d1d;
}
html.dark-mode .badge-inf {
    background-color: #1d1d1d;
    color: {{ light2 }};
}
html.dark-mode .nav-tabs .nav-link.active {
    color: {{ light2 }};
    background-color: {{ dark }};
}

html.dark-mode #darkmode-modal .modal-content {
    background-color: {{ dark }};
}

html.dark-mode #darkmode-modal button.close {
    color: #d6d6d6;
}

html.dark-mode .btn-default {
    color: {{ light }};
    background-color: {{ dark }};
}
html.dark-mode .btn-default:hover {
    color: {{ light2 }}; 
}
html.dark-mode .jumbotron {
    background-color: {{ dark2 }};
}
html.dark-mode .navbar {
    background-color: {{ dark }} !important;
}
html.dark-mode .navbar-brand {
    color: {{ light }}
}
/*
html.dark-mode .navbar-brand img {
    background-color: unset;
}*/
html.dark-mode .nav-link {
    color: {{ light }} !important;
}
html.dark-mode .dropdown-menu {
    background-color: {{ dark }};
    color: {{ light }} !important;
    box-shadow: 1px 2px 2px {{ dark2 }}, -1px 2px 2px {{ dark2 }};
    
}
html.dark-mode .dropdown-item {
    color: {{ light }} !important;
}
html.dark-mode .dropdown-item:hover, 
html.dark-mode .dropdown-item:select, 
html.dark-mode .dropdown-item:active {
    color: {{ light }} !important;
    background-color: {{ dark2 }} !important;
}
html.dark-mode h3 a {
    color: {{ light }};
}
html.dark-mode h4 a, html.dark-mode h4 a:hover {
    color: {{ light }};
}
html.dark-mode .card {
    background-color: {{ dark2 }};
    border-color: {{ dark }};
}
html.dark-mode .text-dark {
    color: {{ light }} !important;
}
html.dark-mode .img-thumbnail {
    background-color: {{ dark2 }};
    border-color: {{ dark }};
}
html.dark-mode .badge-dark {
    color: {{ dark2 }} !important;
    background-color: {{ dark }} !important;
}
html.dark-mode .CodeMirror, html.dark-mode .editor-preview-side {
    background-color: {{ dark }};
    color: {{ light }};
}
html.dark-mode .editor-toolbar a {
    color: {{ light2 }}!important;
}
html.dark-mode .editor-toolbar a.active, html.dark-mode  .editor-toolbar a:hover {
    background: {{ dark }};
}
html.dark-mode .badge-t3d {
    color: {{ light }} !important;
    background-color: {{ t3d }} !important;
}
html.dark-mode .badge-t2d {
    color: {{ light }} !important;
    background-color: {{ t2d }} !important;
}
html.dark-mode .badge-tge {
    color: {{ light }} !important;
    background-color: {{ tge }} !important;
}

/* Darkmode Code */
html.dark-mode .highlight {
    background-color: {{ dark }};
    padding: 3px;
    border-radius: 2px;
}
html.dark-mode code { color: #ccdcdc; }
html.dark-mode code .n { color: #f2777a; } /* variables, globalvariables, bomberShapeData */
html.dark-mode code .nf { color: #e1a6f2; } /* echo staticShapeData*/
html.dark-mode code .m { color: #fca369; } /* numbers */
html.dark-mode code .p { color: #b3b9c5; } /* ( ) { } = ; %*/
html.dark-mode code .s { color: #92d192; } /* strings */
html.dark-mode code .c1 { color: #77787c; } /* comment */
html.dark-mode code .err { color: #ffeea6; } /* $ */