---
layout: page
title: Tutorials
permalink: /tutorials/
---

<div class="banner">
    <div class="container my-3">
        <h2>Tutorials</h2>
    </div>
</div>

<div class="container">
    {% for post in site.categories.Tutorials %}
        {% if post.author %}
            {% assign author = site.authors[post.author] %}
        {% endif %}
        <div class="row p-3 m-2 card">
            <!--<div class="col-md-7">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
            </a></div>--> 
            <div class="col-md-12">
            <h4><a href="{{post.url}}">{{ post.title }}</a></h4>
            <span class="info">{{ post.date | date: "%B %-d, %Y" }} - 
                {% if author.name %}
                    {{ author.name }} 
                {% endif %}
            </span>
            <span class="d-sm-block d-md-inline">
                {% include tags.html tags=post.tags %}
            </span>
            <span class="postdesc d-block">
                <p>{{ post.description }}</p>
            </span>
            <!--<a class="btn btn-primary" href="{{post.url}}">Go to Tutorial</a>-->
            </div>
        </div>
    {% endfor %}
</div>
