{% if author.name %}
<div class="card p-3 my-2">
    <div id="author-content" class="d-flex flex-row">
        <div class="flex-shrink-0">
            {% if author.image %}
            <img itemprop="image" style="height: 100px;" id="image-author" class="img-thumbnail" src="{{ author.image }}">
            {% endif %}
        </div>
        <div class="pl-3">
            <div itemprop="author" id="name-author"><h4>{{ author.name }}</h4></div>
            {% if author.about %}
            <div id="about-author">{{ author.about }}</div>
            {% endif %}
            <div id="social-author" style="font-size: 1.5rem;">
                {% if author.web %}
                <a href="{{ author.web }}" title="website" class="text-dark"><i class="fa fa-globe fa"></i></a>
                {% endif %}
                {% if author.github %}
                <a href="{{ author.github }}" title="Github" class="text-dark"><i class="fa fa-github-square fa"></i></a>
                {% endif %}
                {% if author.twitter %}
                <a href="{{ author.twitter }}" title="Twitter" class="text-dark"><i class="fa fa-twitter-square fa"></i></a>
                {% endif %}
                {% if author.email %}
                <a href="{{ author.email }}" title="Email" class="text-dark"><i class="fa fa-envelope fa"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}