<div class="row">
    <!--
    <div class="col-md-7">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
      </a>
    </div>--> 
    <div class="col-md-12">
      <h3>{{include.post.title}}</h3>
      <span class="date">{{include.post.date | date_to_string}}</span>
      <p>{{ include.post.content | strip_html | truncatewords: 100 }}...</p>
      <a class="btn btn-primary" href="{{post.url}}">View Post</a>
    </div>
</div>