---
layout: default
---
{% if page.author %}
    {% assign author = site.authors[page.author] %}
{% endif %}

<div class="banner">
    <div class="container my-3">
        <h2>{{page.title}}</h2>
        <span class="meta pull-right">{{ page.date | date: "%B %-d, %Y"}}</span>
        <span class="info d-block py-2">
            {% if author.name %}
            Created by {{ author.name }}  
            {% endif %}
            {% include tags.html tags=page.tags %}
        </span>
    </div>
</div>

<div class="container">
    <div class="post">
        {{ content }}
    </div>

    {% if page.author %}
        {% include  author.html %}
    {% endif %}

    <!--<a href="/news"><i class="fa fa-angle-left"></i> Back to news archive</a>-->
</div>